/*
 * v1.0
 *
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MAIN 0
#define SYMBOLS 1
#define NAV 2
#define GAME 3
#define TBD 4

&caps_word {
	continue-list = <UNDERSCORE MINUS BSPC DEL SPACE RET TAB>;
};

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };
	
    behaviors {	
		// Tap: Backspace
		// Shift-tap: -
		// Double-tap: -
		// Morph: with Shift => Forward delete ('⌦')
		bspcdel: backspace_or_del {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp BSPC>, <&kp DEL>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		
		// Tap: Dot ('.')
		// Shift-tap: -
		// Double-tap: -
		// Hold: -
		// Morph: with Shift => Comma (',')
		dotcomma: dot_or_comma {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp DOT>, <&kp COMMA>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};
		
		// Tap: FSLH ('/')
		// Shift-tap: -
		// Double-tap: -
		// Hold: -
		// Morph: with Shift => BSLH ('\')
		fbslh: fslh_or_bslh {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp FSLH>, <&kp BSLH>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		// Tap: LT ('<')
		// Shift-tap: -
		// Double-tap: -
		// Hold: -
		// Morph: with Shift => LBrace ('(')
		ltlpar: lt_or_lbrace {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp LT>, <&kp LPAR>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		// Tap: GT ('>')
		// Shift-tap: -
		// Double-tap: -
		// Hold: -
		// Morph: with Shift => RBrace (')')
		gtrpar: gt_or_rbrace {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&kp GT>, <&kp RPAR>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		// Tap: Sticky Left Shift
		// Shift-tap: -
		// Double-tap: Turn on CAPS_WORD
		// Hold: -
		// Morph: -
		shiftcaps: sticky_shift_or_capsword {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&sk RSHFT>, <&caps_word>;
		};
    };
	
    keymap {
        compatible = "zmk,keymap";

		// Layer: MAIN
        // ╭────────────── Left-side ──────────────╮       	╭───────────── Right-side ──────────────╮
		// ┃  qQ   ┃  wW   ┃  eE   ┃  rR   ┃  tT   ┃       	┃  yY   ┃  uU   ┃  iI   ┃  oO   ┃  pP   ┃
		// ┣━━━━━━━╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫       	┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
		// ┃  aA   ┃  sS   ┃  dD   ┃  fF   ┃  gG   ┃  	  	┃  hH   ┃  jJ   ┃  kK   ┃  lL   ┃  zZ   ┃
		// ┣───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫    	┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
		// ┃  /\   ┃  xX   ┃  cC   ┃  vV   ┃  -_   ┃    	┃  .,   ┃  nN   ┃  mM   ┃  bB   ┃  ;:   ┃
		// ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛    	┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛
		// 				      ┌───────┬───────┬───────┐	 ┌───────┬───────┬───────┐
        // 				      │ CAPS  | LSHFT | SPACE |	 | ENTER | RCTRL | LALT  |
		// 				      │       |       |  NAV  |	 |SYMBOLS|       |       |
		// 				      ╰───────┴───────┴───────┘	 └───────┴───────┴───────╯       
		MAIN {
			display-name = "Main";
			bindings = <
				&kp Q			&kp W			&kp E			&kp R			&kp T				&kp Y	  		&kp U	    	    	&kp I			&kp O		  	&kp P
				&kp A			&kp S			&kp D			&kp F			&kp G				&kp H			&kp J	        		&kp K		  	&kp L           &kp Z
				&fbslh          &kp X			&kp C			&kp V			&kp MINUS			&dotcomma		&kp N	        		&kp M			&kp B	    	&kp SEMI
												&caps_word		&kp LSHFT   	&lt NAV SPACE		&lt SYMBOLS RET	&kp RCTRL               &kp LALT
			>;
		};
		
		// Layer: SYMBOLS
		// ╭────────────── Left-side ──────────────╮       	╭────────────── Right-side ─────────────╮
		// ┃   ~   ┃  1!   ┃  2@   ┃  3#   ┃   "   ┃       	┃  [{   ┃   -   ┃   &   ┃   +   ┃  ]}   ┃
		// ┣━━━━━━━╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫       	┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫━━━━━━━┫
		// ┃  '"   ┃  4$   ┃  5%   ┃  6^   ┃  0)   ┃  	  	┃  <(   ┃   *   ┃   =   ┃   /   ┃  >)   ┃
		// ┣───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫	   	┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
		// ┃  `~   ┃  7&   ┃  8*   ┃  9(   ┃   ?   ┃	   	┃ trans ┃   ~   ┃   |   ┃   !   ┃ trans ┃ 
		// ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛	   	┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛
		// 				      ┌───────┬───────┬───────┐	 ┌───────┬───────┬───────┐
		// 				      │ trans | trans |  DEL  |	 | [   ] | trans | trans |
		// 				      │       |       |       |	 |       |       |       |
		// 				      ╰───────┴───────┴───────┘	 └───────┴───────┴───────╯
		SYMBOLS {
			display-name = "Symbols...";
            bindings = <
            	&kp TILDE       &kp N1			&kp N2	    	&kp N3	    	&kp DQT         	&kp LBKT		&kp MINUS		&kp AMPS        &kp PLUS        &kp RBKT
				&kp SQT         &kp N4	    	&kp N5		    &kp N6	    	&kp N0   		 	&ltlpar         &kp STAR        &kp EQUAL       &kp FSLH        &gtrpar
				&kp GRAVE       &kp N7			&kp N8		    &kp N9			&kp QMARK	       	&trans          &kp TILDE		&kp PIPE    	&kp EXCL		&trans
												&trans	    	&trans	   		&kp DEL      		&trans			&trans	    	&trans 
			>;
		};

		// Layer: NAV
		// ╭────────────── Left-side ──────────────╮       	╭────────────── Right-side ─────────────╮
		// ┃  F1   ┃  F2   ┃  F3   ┃  F4   ┃  F5   ┃       	┃ HOME  ┃ PG DN ┃ PG UP ┃  END  ┃ GAME  ┃
		// ┣━━━━━━━╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫       	┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
		// ┃ LALT  ┃  ESC  ┃  F11  ┃  TAB  ┃ LWIN  ┃  	    ┃   ←   ┃   ↓   ┃   ↑   ┃   →   ┃  F6   ┃
		// ┣───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫	   	┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
		// ┃ SHFT  ┃  xX   ┃  eE   ┃  lL   ┃       ┃       	┃  PP   ┃ NEXT  ┃ PREV  ┃ MUTE  ┃ SHIFT ┃ 
		// ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛	   	┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛
		// 				      ┌───────┬───────┬───────┐	 ┌───────┬───────┬───────┐
		// 				      │ trans | trans | [   ] |	 | BSPC  | trans | trans |
		// 				      │       |       |       |	 |       |       |       |
		// 				      ╰───────┴───────┴───────┘	 └───────┴───────┴───────╯
		NAV {
			display-name = "Navigating...";
			bindings = <
				&kp F1	    	&kp F2			&kp F3			&kp F4			&kp F5						&kp HOME         &kp PG_DN		&kp PG_UP       &kp END     &to GAME
				&kp LALT        &kp ESC			&kp F11			&kp TAB			&kp LWIN		           	&kp LEFT		 &kp DOWN		&kp UP			&kp RIGHT   &kp F6
				&kp LSHFT       &kp X		    &kp E		    &kp L		    &to GAME    				&kp C_PP		 &kp C_NEXT	    &kp C_PREV		&kp C_MUTE  &kp LSHFT
												&trans		    &trans			&trans						&kp BSPC         &trans			&trans		
			>;
		};
		
		// Layer: GAME
		// ╭────────────── Left-side ──────────────╮       	╭────────────── Right-side ─────────────╮
		// ┃ TAB   ┃   Q   ┃   W   ┃   E   ┃   R   ┃       	┃       ┃       ┃       ┃       ┃ MAIN  ┃
		// ┣━━━━━━━╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫       	┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
		// ┃ SHIFT ┃   A   ┃   S   ┃   D   ┃   F   ┃        ┃  BT1  ┃  BT1  ┃  BT3  ┃  BT4  ┃  BT5  ┃
		// ┣───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫	   	┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
		// ┃ LCTRL ┃   Z   ┃   X   ┃   C   ┃   V   ┃	   	┃BTCLEAR┃       ┃       ┃       ┃       ┃ 
		// ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛	   	┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛
		// 				      ┌───────┬───────┬───────┐	 ┌───────┬───────┬───────┐
		// 				      │       | LALT  | SPACE |	 | [   ] |       |       |
		// 				      │       |       |       |	 |       |       |       |
		// 				      ╰───────┴───────┴───────┘	 └───────┴───────┴───────╯				    
		GAME {
			display-name = "Gaming...";
			bindings = <
				&kp TAB 		&kp Q   		&kp W			&kp E			&kp R	        			&kp LWIN	    &kp L   		&none			&none			&to MAIN
				&kp LSHFT   	&kp A			&kp S  	    	&kp D    		&kp F	    				&bt BT_SEL 0 	&bt BT_SEL 1	&bt BT_SEL 2	&bt BT_SEL 3	&bt BT_SEL 4
				&kp LCTRL		&kp Z			&kp X			&kp C			&kp V						&bt BT_CLR 	    &none   		&none           &none			&none
												&none			&kp LALT		&kp SPACE					&none			&none   		&none
			>;
		};
		
		// Layer: TBD
		// ╭────────────── Left-side ──────────────╮       	╭────────────── Right-side ─────────────╮
		// ┃       ┃       ┃       ┃       ┃       ┃       	┃       ┃       ┃       ┃       ┃       ┃
		// ┣━━━━━━━╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫       	┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
		// ┃ [   ] ┃       ┃       ┃       ┃       ┃  		┃       ┃       ┃       ┃       ┃       ┃
		// ┣───────╊━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫		┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
		// ┃       ┃       ┃       ┃       ┃       ┃		┃       ┃       ┃       ┃       ┃       ┃ 
		// ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛		┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛
		// 				      ┌───────┬───────┬───────┐	 ┌───────┬───────┬───────┐
		// 				      │ LCTRL | [   ] |       |	 | RSHFT | [   ] | BSPC  |
		// 				      │       |       |       |	 |       |       |       |
		// 				      ╰───────┴───────┴───────┘	 └───────┴───────┴───────╯			    
		TBD {
			status = "reserved";
		};
    };
};
